{% extends 'base.html' %}


<style>
		.province {
			fill: #eee;
			stroke: #999;
		}
		text {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 10px;
			text-anchor: middle;
		}
	  </style>
{% block body%}

<link rel="stylesheet" href="../../gourmet_union/css/style.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

<div class="bd-example">
	<div class="row">
		<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					{% load staticfiles %}
					<img src="{% static 'main/Tandoori.jpg' %}" class="d-block w-100" alt="Tandoori"
						style="height: 500px;">
					<div class="carousel-caption d-none d-md-block">
						<h1>이주의 맛집 수엠부, 수원역</h1>
						<p>탄두리 치킨</p>
					</div>
				</div>
				<div class="carousel-item">
					{% load staticfiles %}
					<img src="{% static 'main/abcd.jpg' %}" class="d-block w-100" alt="abcd" style="height: 500px;">
					<div class="carousel-caption d-none d-md-block">
						<h1>이주의 맛집 크라잉 치즈버거, 선릉</h1>
						<p>더블 치즈 버거</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="https://static.toiimg.com/photo/68283907.cms" class="d-block w-100" alt="burger"
						style="height: 500px;">
					<div class="carousel-caption d-none d-md-block">
						<h1>우리동네 햄버거 맛집</h1>
						<p>버거킹 더블 와퍼</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</div>
</div>
<!-- <div class="row">
	  <div id="googleMap" class="mt-3 col-xl-12" style="width:500px;height:380px;"></div>
	</div> -->
<div class="row">
	<script>

		var w = 960, h = 500;

		var proj = d3.geo.mercator()
			.center([128.0, 35.9])
			.scale(4000)
			.translate([w / 2, h / 2]);

		var path = d3.geo.path().projection(proj);

		var svg = d3.select("body").append("svg")
			.attr("width", w)
			.attr("height", h);

		d3.json("skorea-provinces-topo.json", function (error, kor) {

			var provinces = topojson.object(kor, kor.objects['skorea-provinces-geo']);

			svg.append("path")
				.datum(provinces)
				.attr("class", "province")
				.attr("d", path);

			svg.selectAll("text")
				.data(provinces.geometries)
				.enter().append("text")
				.attr("transform", function (d) { return "translate(" + path.centroid(d) + ")"; })
				.attr("dy", ".35em")
				.text(function (d) { return d.properties.NAME_1; });

		});
	</script>
</div>
</div>




{% endblock %}